<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backoffice.mapper.OrderMapper">

    <!-- 주문 마스터 등록 -->
    <insert id="insertOrder">
        <selectKey keyProperty="order_id" resultType="long" order="BEFORE">
            SELECT customer_order_seq.NEXTVAL FROM dual
        </selectKey>
        INSERT INTO Customer_Order (order_id, member_id, status, total_amount, imp_uid, merchant_uid)
        VALUES (#{order_id}, #{member_id}, #{status} , #{total_amount}, #{imp_uid}, #{merchant_uid})
    </insert>

    <!-- 주문 상세 품목 등록 -->
    <insert id="insertOrderItem">
        INSERT INTO Order_Item (order_item_id, order_id, book_id, qty, price)
        VALUES (order_item_seq.NEXTVAL, #{order_id}, #{book_id}, #{qty}, #{price})
    </insert>


    <!-- 재고 수량 차감 -->
    <update id="updateInventoryStock">
        UPDATE Inventory
        SET current_stock = current_stock - #{qty}
        WHERE book_id = #{book_id}
    </update>

    <!-- 주문 내역 조회 -->
    <select id="getOrderList" resultType="com.backoffice.model.CustomerOrderVO">
        SELECT order_id, member_id, status, total_amount, order_date
        FROM Customer_Order
        WHERE member_id = #{member_id}
        ORDER BY order_id DESC
    </select>

    <!-- 장바구니 비우기 -->
    <delete id="clearCart">
        DELETE FROM Cart
        WHERE member_id = #{member_id}
    </delete>

</mapper>