<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.backoffice.mapper.PublisherMapper">

    <select id="getList" resultType="com.backoffice.model.PublisherVO">
        SELECT * FROM Publisher 
        ORDER BY publisher_id DESC
    </select>

    <insert id="insert">
        INSERT INTO Publisher (name, contact)
        VALUES (#{name}, #{contact})
    </insert>

    <select id="read" resultType="com.backoffice.model.PublisherVO">
        SELECT * FROM Publisher 
        WHERE publisher_id = #{publisher_id}
    </select>

    <update id="update">
        UPDATE Publisher
        SET name = #{name}, 
            contact = #{contact}
        WHERE publisher_id = #{publisher_id}
    </update>

    <delete id="delete">
        DELETE FROM Publisher 
        WHERE publisher_id = #{publisher_id}
    </delete>

</mapper>